@tailwind base;
@tailwind components;
@tailwind utilities;

.ulLight {
    text-decoration: underline;
    text-decoration-color: #6762d9;
}
.ulDark {
    text-decoration: underline;
    text-decoration-color: #6762d9;
}