@import "colours";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

$font-family-standard: "Roboto", sans-serif;
$font-weight-extra-light: 100;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

$text-dark: $dark-grey;