@import "colours";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

$font-family-body: "Open Sans", sans-serif;
$font-weight-body-light: 300;
$font-weight-body-medium: 400;
$font-weight-body-bold: 600;

$font-family-emphasis: "Raleway", sans-serif;
$font-weight-emphasis-light: 300;
$font-weight-emphasis-medium: 400;
$font-weight-emphasis-bold: 500;

$text-dark: $dark-grey;