name: CI

on: [push, pull_request]

jobs:
  Frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm install

      - name: Frontend Tests
        working-directory: ./frontend
        run: npm run tests

      - name: Frontend Lint
        working-directory: ./frontend
        run: npm run lint

  Backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: denolib/setup-deno@c7d7968ad4a59c159a777f79adddad6872ee8d96
        with:
          deno-version: "v1.4"

      - name: Install Denon
        working-directory: ./backend
        run: |
          deno install --unstable -qAf https://deno.land/x/denon@2.4.0/denon.ts
          echo "/home/runner/.deno/bin" >> $GITHUB_PATH
      - name: Install Backend Dependencies
        working-directory: ./backend
        run: deno cache ./src/app.ts

      - name: Backend Tests
        working-directory: ./backend
        run: denon test

      - name: Backend Lint
        working-directory: ./backend
        run: denon lint

      - name: Backend Formatter
        working-directory: ./backend
        run: denon checkFormat
